<?xml version="1.0" encoding="UTF-8"?> 
<configuration>

    <system.webServer> 
        <security> 
            <authorization>
                <add accessType="Deny" users="?" />
                <add accessType="Allow" users="*" />
                <remove users="?" roles="" verbs="" />
            </authorization>
        </security>

        <rewrite>
            <rules>
				<!-- Exlcuded rules from .htaccess:
				RewriteRule ^js/([.]*)$ /js/$1	[L]
				RewriteRule ^styles/([.]*)$ /styles/$1	[L]
				RewriteRule ^images/([.]*)$ /images/$1	[L]
				-->		
				
                <rule name="Support" stopProcessing="true">
                    <match url="^support/$" ignoreCase="true" />
                    <action type="Rewrite" url="support/index.php" appendQueryString="true" />
                </rule>
				
                <rule name="Register" stopProcessing="true">
                    <match url="^register/{0,1}$" ignoreCase="true" />
                    <action type="Rewrite" url="register.php" appendQueryString="true" />
                </rule>

                <rule name="New User" stopProcessing="true">
                    <match url="^new-user/{0,1}$" ignoreCase="true" />
                    <action type="Rewrite" url="new.user.php" appendQueryString="true" />
                </rule>

                <rule name="Recover Password" stopProcessing="true">
                    <match url="^recover/{0,1}$" ignoreCase="true" />
                    <action type="Rewrite" url="recover.php" appendQueryString="true" />
                </rule>

                <rule name="News" stopProcessing="true">
                    <match url="^news/{0,1}$" ignoreCase="true" />
                    <action type="Rewrite" url="index.php" appendQueryString="true" />
                </rule>
				
				<rule name="Member Lookup" stopProcessing="true">
                    <match url="^membersearch/{0,1}$" ignoreCase="true" />
                    <action type="Rewrite" url="member.search.php" appendQueryString="true" />
                </rule>

                <rule name="Affiliate Links" stopProcessing="true">
                    <match url="^affil/([0-9]+)/$" ignoreCase="true" />
                    <action type="Rewrite" url="affil.php?afid={R:1}" appendQueryString="true" />
                </rule>
			
				<rule name="League Member Lookup" stopProcessing="true">
                    <match url="^([0-9a-z]{2,8})/membersearch/" ignoreCase="true" />
                    <action type="Rewrite" url="member.search.php?lgname={R:1}" appendQueryString="true" />
                </rule>
			
				<rule name="Approved Files" stopProcessing="true">
                    <match url="^([0-9a-z]{2,8})/approvedfiles/" ignoreCase="true" />
                    <action type="Rewrite" url="approved.files.php?lgname={R:1}" appendQueryString="true" />
                </rule>			
				
				<rule name="View Match" stopProcessing="true">
                    <match url="^match/([0-9]+)/$" ignoreCase="true" />
                    <action type="Rewrite" url="match.php?mid={R:1}" appendQueryString="true" />
                </rule>
				
				<rule name="League View Match" stopProcessing="true">
                    <match url="^([0-9a-z]{2,8})/match/([0-9]+)/" ignoreCase="true" />
                    <action type="Rewrite" url="match.php?mid={R:2}" appendQueryString="true" />
                </rule>
			
				<!-- Excluded: RewriteRule ^([0-9a-z]{2,8})/teams$ /$1/teams/ [R] -->
			
				<rule name="League Team List" stopProcessing="true">
                    <match url="^([0-9a-z]{2,8})/teams/" ignoreCase="true" />
                    <action type="Rewrite" url="team.list.php?lgname={R:1}" />
                </rule>
	
				<rule name="League News Paged" stopProcessing="true">
                    <match url="^([0-9a-z]{2,8})/news/page/([0-9]{1,4})/" ignoreCase="true" />
                    <action type="Rewrite" url="index.php?lgname={R:1}&amp;page={R:2}" appendQueryString="true" />
                </rule>

				<rule name="League News" stopProcessing="true">
                    <match url="^([0-9a-z]{2,8})/news/" ignoreCase="true" />
                    <action type="Rewrite" url="index.php?lgname={R:1}" appendQueryString="true" />
                </rule>

				<rule name="League Rules" stopProcessing="true">
                    <match url="^([0-9a-z]{2,8})/rules/" ignoreCase="true" />
                    <action type="Rewrite" url="league.rules.php?lgname={R:1}" appendQueryString="true" />
                </rule>
				
				<rule name="Links" stopProcessing="true">
                    <match url="^([0-9a-z]{2,8})/links/" ignoreCase="true" />
                    <action type="Rewrite" url="links.php?lgname={R:1}" appendQueryString="true" />
                </rule>
				
				<rule name="Article" stopProcessing="true">
                    <match url="^article/([0-9a-z_]+)/$" ignoreCase="true" />
                    <action type="Rewrite" url="article.php?newsid={R:1}" appendQueryString="true" />
                </rule>
				
				<rule name="League Article" stopProcessing="true">
                    <match url="^([0-9a-z]{2,8})/article/([0-9a-z_]+)/" ignoreCase="true" />
                    <action type="Rewrite" url="article.php?lgname={R:1}&amp;newsid={R:2}" appendQueryString="true" />
                </rule>
				
				<rule name="User" stopProcessing="true">
                    <match url="^user/([0-9a-z_]+)/$" ignoreCase="true" />
                    <action type="Rewrite" url="user.php?userid={R:1}" appendQueryString="true" />
                </rule>
				
				<rule name="League User" stopProcessing="true">
                    <match url="^([0-9a-z]{2,8})/user/([0-9a-z_]+)/" ignoreCase="true" />
                    <action type="Rewrite" url="user.php?lgname={R:1}&amp;userid={R:2}" appendQueryString="true" />
                </rule>
											
				<rule name="League Suspensions" stopProcessing="true">
                    <match url="^([0-9a-z]{2,8})/suspensions/" ignoreCase="true" />
                    <action type="Rewrite" url="suspensions.php?lgname={R:1}" appendQueryString="true" />
                </rule>

				<rule name="Join Team For League With Team ID" stopProcessing="true">
                    <match url="^([0-9a-z]{2,8})/join/([0-9]+)/" ignoreCase="true" />
                    <action type="Rewrite" url="join.team.php?lgname={R:1}&amp;tid={R:2}" appendQueryString="true" />
                </rule>
				
				<rule name="Join Team For League With Team ID Without Slash" stopProcessing="true">
                    <match url="^([0-9a-z]{2,8})/join/([0-9]+)" ignoreCase="true" />
                    <action type="Rewrite" url="join.team.php?lgname={R:1}&amp;tid={R:2}" appendQueryString="true" />
                </rule>
				
				<rule name="Join Team For League" stopProcessing="true">
                    <match url="^([0-9a-z]{2,8})/join/" ignoreCase="true" />
                    <action type="Rewrite" url="join.team.php?lgname={R:1}" appendQueryString="true" />
                </rule>

				<rule name="Join Team For League Without Slash" stopProcessing="true">
                    <match url="^([0-9a-z]{2,8})/join" ignoreCase="true" />
                    <action type="Rewrite" url="join.team.php?lgname={R:1}" appendQueryString="true" />
                </rule>
				
				<rule name="League Past Champs" stopProcessing="true">
                    <match url="^([0-9a-z]{2,8})/pastchamps/" ignoreCase="true" />
                    <action type="Rewrite" url="past.champs.php?lgname={R:1}" appendQueryString="true" />
                </rule>
				
				<rule name="Map Downloads" stopProcessing="true">
                    <match url="^([0-9a-z]{2,8})/maps/" ignoreCase="true" />
                    <action type="Rewrite" url="maps.php?lgname={R:1}" appendQueryString="true" />
                </rule>
				
				<rule name="Map Info Page" stopProcessing="true">
                    <match url="^([0-9a-z]{2,8})/map/([0-9a-z_]+)/" ignoreCase="true" />
                    <action type="Rewrite" url="map.php?lgname={R:1}&amp;mapname={R:2}" appendQueryString="true" />
                </rule>
				
				<rule name="Historical Standings" stopProcessing="true">
                    <match url="^([0-9a-z]{2,8})/historicalstandings/([0-9]+)/" ignoreCase="true" />
                    <action type="Rewrite" url="historical.standings.php?lgname={R:1}&amp;sid={R:2}" appendQueryString="true" />
                </rule>
				
				<rule name="League Standings" stopProcessing="true">
                    <match url="^([0-9a-z]{2,8})/standings/" ignoreCase="true" />
                    <action type="Rewrite" url="standings.php?lgname={R:1}" appendQueryString="true" />
                </rule>
				
				<rule name="League Schedule SchId" stopProcessing="true">
                    <match url="^([0-9a-z]{2,8})/schedule/([0-9]+)/" ignoreCase="true" />
                    <action type="Rewrite" url="season.schedule.php?lgname={R:1}&amp;sch_id={R:2}" appendQueryString="true" />
                </rule>

				<rule name="League Schedule" stopProcessing="true">
                    <match url="^([0-9a-z]{2,8})/schedule/" ignoreCase="true" />
                    <action type="Rewrite" url="season.schedule.php?lgname={R:1}" appendQueryString="true" />
                </rule>

				<!-- Excluded: RewriteRule ^([0-9a-z]{2,8})/team/([0-9]+)$ /$1/team/$2/ [R] -->
				
				<rule name="League Team" stopProcessing="true">
                    <match url="^([0-9a-z]{2,8})/team/([0-9]+)/" ignoreCase="true" />
                    <action type="Rewrite" url="team.info.php?tid={R:2}&amp;lgname={R:1}" />
                </rule>
				
				<!-- Excluded: RewriteRule ^([a-z]{1}[a-z0-9]{1,7})$ /$1/		[QSA,R] -->

                <rule name="League Name" stopProcessing="true">
                    <match url="^([0-9a-z]{2,8})/$" ignoreCase="true" />
                    <action type="Rewrite" url="index.php?lgname={R:1}" appendQueryString="true" />
                </rule>
            </rules>
        </rewrite>

    </system.webServer>

</configuration>