<?xml version="1.0" encoding="UTF-8"?> 
<configuration> 
    <system.webServer> 
        <security> 
            <authorization>
                <add accessType="Deny" users="?" />
                <add accessType="Allow" users="*" />
                <remove users="?" roles="" verbs="" />
            </authorization>
        </security> 
    </system.webServer> 
</configuration>